@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

html {
    @media (-webkit-device-pixel-ratio: 1.25) {
        font-size: 80%;
    }
}

#root {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    color: $light;
    position: relative;
    .container {
        background-color: $light;
        color: $dark;
        padding: 1.5rem;
    }
    .btn-primary {
        color: $light !important;
    }
    #loginForm {
        width: 40rem;
        font-size: 2rem;
        h1 {
            font-size: 3rem;
            font-weight: bold;
        }
        input {
            font-size: 1.5rem;
        }
        .btn {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    #addNewMail {
        position: absolute;
        inset: auto;
        left: 1rem;
        bottom: 1rem;
        font-size: 2.1rem;
        background-color: $light;
        padding: 1.5rem;
        display: grid;
        place-content: center;
        place-items: center;
        transition: $transition;
        box-shadow: 0px 5px black;
        &:not(:disabled):hover {
            cursor: pointer;
            border-radius: 100%;
            font-weight: bold;
        }
        &:disabled {
            border-radius: 100%;
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
    #composeNew,
    #sending {
        font-size: 1.5rem;
        position: absolute;
        inset: auto;
        right: 5px;
        bottom: 10px;
        width: 30rem;
        border-radius: 10px;
    }
    #sending {
        width: 13rem !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1rem;
        h2 {
            font-weight: bold;
        }
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
