$primary: #b66051;
$secondary: #dcb147;
$info: #304a4b;
$success: #6c9750;
$warning: #e98718;
$danger: #e98718;
$light: #f4f6ef;
$dark: #304a4b;

:export {
    primary: $primary;
    secondary: $secondary;
    info: $info;
    success: $success;
    warning: $warning;
    danger: $danger;
    light: $light;
    dark: $dark;
}
